* {
  font-family: 'Roboto Slab', serif;  
}

header nav {
  width: 100%;
  background-color: #5E503F;
}

header ul {
  display: flex;  /*橫的*/
  list-style-type: none;  /* 移除項目符號 */
  justify-content: start; /*對齊*/
}

header ul li a {
  color: #F2F4F3;
  display: block;
  text-decoration: none;  /* 移除文字底線 */
  font-size: 1.25rem;
  padding: 1rem;
}

header ul li a:hover {
  color: #F2F4F3;
  background-color: #22333B;
}

body {
  background-color: #A9927D;
  color: #F2F4F3;
}

footer {
  position: absolute;
  bottom: 0;  /*放最底下*/
  width: 100%;
  padding: 1rem;  /*往上一點*/
  text-align: center;
}

footer p {
  color: #F2F4F3;
  font-size: 1rem;
}

footer a {
  color: #F2F4F3;
  text-decoration: none;
}

footer a:hover {
  color: #22333B; /*點選變色*/
}

header ul li a :focus{
  background-color: #22333B;
}

header ul li a :active{
  background-color: #22333B;
}