main li a {
    padding: 2rem;
    margin: 1rem 2.5rem;
    display: flex;
    font-size: 2rem;
    color: #F2F4F3;
    text-decoration: none;   
}

main li {
    list-style-type: none;
}

main li :hover {
    color: white;
    background-color: #5E503F;
    border-radius: 50px;
}


